<nav>
	<a href='/' id='logo' class='link'>
		<img src='img/logo.png' alt='Thought Verse' />Thought Verse
	</a>
	<div id='menu'>
		<a href='/' class='link'>Home</a>
		<a href='#' class='link'>Register</a>
		<a href='#' class='link'>Login</a>
	</div>
</nav>