<nav>
	<a href='/' id='logo' class='link'>
		<img src='/img/logo.png' alt='Thought Verse' />Thought Verse
	</a>
	<div id='menu'>
		<a href='/' class='link'>Home</a>
		{{#if session.user.id}}
			<a href='/user/dashboard' class='link'>Dashboard</a>
			<a href='/user/profile' class='link'>Profile</a>
			<a href='/auth/logout' class='btn'>Logout</a>
		{{else}}
			<a href='/auth/register' class='link'>Register</a>
			<a href='/auth/login' class='link'>Login</a>
		{{/if}}
	</div>
</nav>