/* General */
:root {
	--main-bg-color: #110303;
	--main-btn-color: #04b4b4;
	--main-btn-hover-color: #04a4a4;
	--secondary-btn-color: #9ce4e4;
	--link-hover-color: #bcb486;
	--main-text-color: #efefef;
	--secondary-text-color: #cdcdcd;
	--success-main-color: #3ea734;
	--success-color: #79d05a;
	--error-main-color: #fa0505;
	--error-color: #de5d5c;
	--default-div-width: 450px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	color: var(--main-text-color);
}

body {
	background-color: var(--main-bg-color);
	padding: 0 0.8rem;
}

a {
	text-decoration: none;
}

#container {
	min-height: calc(100vh - 150px);
	padding: 40px 0;
}

.thought {
	font-family: 'Lobster', sans-serif;
}

.link {
	color: var(--main-text-color);
	transition: 0.3s ease;
}

.link:hover {
	color: var(--link-hover-color);
}

.btn {
	background-color: var(--main-btn-color);
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 3px;
	font-weight: 500;
	font-size: 1rem;
	cursor: pointer;
	text-transform: uppercase;
	transition: 0.3s ease;
}

.btn:hover {
	background-color: var(--main-btn-hover-color);
}

/* Navbar */
nav {
	padding: 1.5rem 0.8rem;
	border-bottom: 1px solid var(--secondary-text-color);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#menu {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-size: 1.1rem;
	font-weight: 700;
}

#logo {
	font-family: 'Angkor', serif;
	display: flex;
	align-items: center;
	gap: 1rem;
	font-size: 1.3rem;
}

#logo img {
	height: 40px;
}

/* Footer */
footer {
	border-top: 1px solid var(--secondary-text-color);
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer p {
	font-weight: 500;
}

footer p span {
	font-weight: 700;
}

/* Register and Login */
#register,
#login,
#edit-profile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;
}

#register h1,
#login h1,
#edit-profile h1 {
	max-width: var(--default-div-width);
	text-align: center;
}

/* Forms */
form {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: var(--default-div-width);
	gap: 1.2rem;
}

form a {
	font-weight: bold;
}

input,
textarea {
	outline: none;
	border: 1px solid var(--secondary-text-color);
	border-radius: 3px;
	background-color: transparent;
	color: var(--main-text-color);
	font-size: 1rem;
	padding: 0.5rem;
}

.input-field {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.input-field label {
	font-weight: 500;
}

.input-field input:disabled {
	color: var(--secondary-text-color);
	border-color: var(--secondary-text-color);
	background-color: rgba(205, 205, 205, 0.1);
	cursor: not-allowed;
}

.form-error {
	font-size: 0.9rem;
	color: var(--error-main-color);
}

.msg {
	margin: 0 auto;
	width: 100%;
	max-width: var(--default-div-width);
	padding: 0.7rem;
	border-radius: 3px;
}

.msg p {
	text-align: center;
	font-weight: 500;
	font-size: 0.9rem;
}

.msg.error {
	border: 1px solid var(--error-main-color);
	background-color: var(--error-color);
}

.msg.success {
	border: 1px solid var(--success-main-color);
	background-color: var(--success-color);
}

/* Profile */
#profile {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	gap: 2.5rem;
	max-width: var(--default-div-width);
	margin: 0 auto;
}

#profile-img,
#profile-img-preview {
	width: 90vw;
	height: 90vw;
	max-height: 250px;
	max-width: 250px;
	border-radius: 50%;
	border: 2px solid var(--main-text-color);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	background-color: var(--secondary-btn-color);
}

#profile-img img,
#profile-img-preview img {
	width: 90vw;
	height: 90vw;
	max-height: 250px;
	max-width: 250px;
	object-fit: cover;
}

#profile-details {
	display: flex;
	gap: 1rem;
	flex-direction: column;
	width: 100%;
}

#profile-details p {
	display: flex;
	gap: 1rem;
	font-size: 1.2rem;
	display: flex;
	align-items: center;
}

#profile-details b {
	font-weight: 500;
	color: var(--secondary-text-color);
}

#profile .btn {
	align-self: center;
	width: 100%;
	text-align: center;
	text-transform: capitalize;
	font-size: 1.1rem;
}

#profile-bio p {
	border: 1px solid var(--secondary-text-color);
	width: 100%;
	padding: 1rem 0.5rem 2rem;
	border-radius: 3px;
	height: auto;
	max-height: var(--default-div-width);
	text-align: center;
	overflow: hidden;
}
